*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.baixo{
    background-image: linear-gradient(to bottom, #1A4A65, #B1CCD4);
    margin-top: 60px;
    width: 90%;
    padding: 30px; 
    height: auto;
    display: inline-block;
    border-radius: 20px;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}


.nome{
    color: aliceblue;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   margin-bottom: 20px;
}
.ar{
    height: 500px;
    width: 500px;
    margin-left: 100px;
}


.tog{
    margin-top: 50px;
    width: 600px;
    height: 500px;
    float: left;
}
